.App {
    text-align: center;
}

.mood-selector-container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px; // Adjust the gap as needed
}
  
  .singular-date {
    width: 100px; // 100% / 7 - gap
    height: 100px; // Adjust the height as needed
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
  