/* styles.css or App.css */

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    // position: fixed;
    bottom: 0;
    width: 98.9%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
  }
  
  .footer-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .footer-line {
    font-size: 0.8rem;
  }
  