/* FrontPageStyle.scss */
.front-page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 100vw;
    //margin: auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    //margin-top: 50px;
    width: 98%;
    height: 100vh;
    padding-bottom: 170px;
}

@media (max-width: 768px) {
    .front-page-container {
        padding-bottom: 0px;
    }
  }

.front-h2 {
    font-size: 58px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .front-h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
  }

.front-content {
    flex: 1;
    //padding-right: 20px;
    width: 50%;
    margin-top: 0px;
}

@media (max-width: 768px) {
    .front-content {
        //margin-top: 500px;
    }
  }

.front-div {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

button.get-started-button {
    margin-right: 30px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;

    &:hover {
        background-color: #0056b3;
    }

}

@media (max-width: 768px) {
    button.get-started-button {
        font-size: 15px;
        margin-bottom: 10px;
    }
  }

button.home-button {
    background-color: #fff;
    color: #007bff;
    padding: 10px 20px;
    font-size: 25px;
    border: 1px rgb(177, 177, 177) solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;

    &:hover {
        background-color: #e5e5e5;
    }
}

@media (max-width: 768px) {
    button.home-button {
        font-size: 15px;
    }
  }


.image-container {
    margin: 50px;
    flex-shrink: 0;
    width: 40%; /* Adjust the value based on your needs */
}

.fade-in {
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 1s ease-in-out forwards; /* Animation duration and easing */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; /* Start from opacity 0 */
    }
    to {
      opacity: 1; /* End at opacity 1 */
    }
  }

.image-container img {
    width: 300px;
    border-radius: 5px;
    /* Add any additional styling for the image container */
}

@media (max-width: 768px) {
    .image-container img {
        // display: none;
        width: 250px;
    }
  }
